{% extends 'base.html' %}
{% load static %} 
{% block title %}Finances{% endblock %}
{% block content %}
  <div>
    <h2>Finance</h2>
    
    <table class="finance-table">
      <thead>
        <tr>
          <th>Revenue</th>
          <th>Costs</th>
          <th>Total Profit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>{{ total_revenue }}</p></td>
          <td><p>{{ total_cost }}</p></td>
          <td><p>{{ profit }}</p></td>
        </tr>
      
      </tbody>
    </table>   
  </div>
{% endblock %}