{% extends "base.html" %}    
{% load static %}    
{% block content1 %}
    <p style="color: aliceblue;">Financial Summary of the Restaurant</p>
{% endblock %}
{% block content2 %}
    <div class="row">
        <!--Revenue Card-->
        <div class="card" style="margin-left: 20px; border-radius: 5px;">
            <div class="card-body">
                <h5 class="card-title">Revenue for the Restaurant</h5>
                <p class="card-text">{{ revenue }}</p>
            </div>
        </div>
        <!--Profit Card-->
        <div class="card" style="margin-left: 20px; border-radius: 5px;">            
            <div class="card-body">
                <h5 class="card-title">Final Profit</h5>
                <p class="card-text">{{ revenue }}</p>
            </div>
        </div>
    </div>
{% endblock %}