{% extends 'base.html' %}
{% load static %} 
{% block title %}Adams{% endblock %}
{% block content %}
  <div>
    <h2>Ingredients</h2>
    <table class="ingredient-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Unit Price</th>
        </tr>
      </thead>
      <tbody>
      {% for ingredient in object_list %}
        <tr>
          <td>
            <a href="{% url "ingredientupdate" ingredient.id %}">{{ ingredient.name }}</a>
          </td>
          <td>
            <p>{{ ingredient.quantity }}</p>
          </td>
          <td>
            <p>{{ ingredient.unit }}</p>
          </td>
          <td>
            <p>{{ ingredient.unit_price }}</p>
          </td>

          <td><a href="{% url "ingredientdelete" ingredient.id %}" style="text-decoration: none; color: inherit;">❌</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <a href="{% url "ingredientcreate" %}" style="display: inherit; text-align: center; border-radius: 15px; text-decoration: none; color: blue; padding: 4px; background-color: yellow;">Add an Ingredient to the Inventory</a>
  </div>
{% endblock %}