{% extends 'base.html' %}
{% load static %} 
{% block title %}Adams{% endblock %}
{% block content %}
  <div>
    <h2>Menu Items</h2>
    <table class="menu-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      {% for item in object_list %}
        <tr>
          <td>
            <a href="{% url "menuupdate" item.id %}">{{ item.name | title }}</a>
          </td>
          <td>
            <p>{{ item.price }}</p>
          </td>
         
          <td><a href="{% url "menudelete" item.id %}" style="text-decoration: none; color: inherit;">❌</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <a 
      href="{% url "menucreate" %}" 
      style="display: inherit; text-align: center; border-radius: 15px; text-decoration: none; color: blue; padding: 4px; background-color: yellow;"
      >Add New item to Menu</a>
  </div>
{% endblock %}