{% extends 'base.html' %}
{% load static %} 
{% block title %}Adams{% endblock %}
{% block content %}
  <div>
    <h2>Purchases</h2>
    
    <table class="purchase-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
      {% for purchase in object_list %}
        <tr>
          <td>
            <p>{{ purchase.menu_item.name }}</p>
          </td>
          <td>
            <p>{{ purchase.menu_item.price }}</p>
          </td>
          <td>
            <p>{{ purchase.time_stamp }}</p>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <h2>Total income from purchases</h2>
    <p></p>
    <a 
      href="{% url "purchasecreate" %}" 
      style="display: inherit; text-align: center; border-radius: 15px; text-decoration: none; color: blue; padding: 4px; background-color: yellow;"
    >Add New Purchase</a>
  </div>
{% endblock %}